* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    /*background-color: rgb(6, 15, 45); */
    padding: 10px;
    background: url(icons/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.todo-app {
    background-color: rgba(255, 255, 255, 0.673);
    width: 100%;
    max-width: 500px;
    border-radius: 50px;
    margin: 150px auto 20px;
    padding: 40px 30px 70px;
    box-shadow: 0 0 30px rgb(58, 58, 58);
}

h2 {
    color: #002765;
    font-size: 30px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

h2 img {
    width: 40px;
    position: absolute;
    right: 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 3px groove #000;
    outline-offset: 5px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #5d5d5d;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 70%;
    border-radius: 50px;
    padding: 10px;
}

input::placeholder {
    color: #1e008d;
}

button {
    background-color: orange;
    border: none;
    border-radius: 30px;
    padding: 16px 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

button:hover {
    background-color: rgb(255, 197, 88);
}

.list-div {
    padding: 10px;
    max-height: 200px; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
}

/* Style the scrollbar */
.list-div::-webkit-scrollbar {
    width: 10px;
}

.list-div::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

.list-div::-webkit-scrollbar-thumb {
    background: #372188; 
    border-radius: 10px;
    cursor: pointer;
}

.list-div::-webkit-scrollbar-thumb:hover {
    background: #1e008d; 
}

.list-container{
    margin: 10px;
}

ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    margin-block: 10px;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: url(icons/radio.png);
    background-size: cover;
    top: 7px;
    left: 8px;
}

ul li.checked {
    background-color: green;
    color: #fff;
    border-radius: 50px;
}

ul li.checked::before {
    background: url(icons/check.png);
    background-size: cover;
}

ul li span {
    position: absolute;
    top: 9px;
    right: 0px;
    margin-right: 5px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: black;
    text-align: center;
}

ul li span:hover {
    background-color: black;
    color: white;
}
